<h1>Articles</h1>

<%= link_to 'New Article', new_article_path, class:"btn btn-success mt-3 mb-4" %>

<%= render 'article', obj: @articles %>

<a href="#top" class="btn btn-outline-secondary btn-sm">Top</a>
