<h1>About</h1>

<p class="mt-4 mb-3">Hello! This is a project for training. Many functions will not work until I get enough knowledge to implement them here. Please, aprecciate this webpage. When I release this page in a sooner future, let me know about mistakes to be fixed. Thank you!</p>
<hr class="my-3">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tempora tempore aut quo natus, obcaecati ad assumenda temporibus nostrum tenetur totam nemo. Accusantium temporibus deleniti, eveniet quas architecto minus odio iste magnam maxime tempora. Porro dolorum, perspiciatis a aut iure eius dolorem temporibus beatae cumque asperiores, quos repellat distinctio qui. Quos totam quisquam praesentium unde a incidunt, eveniet suscipit non rerum pariatur. Architecto officiis id cumque minima assumenda. Placeat laborum veritatis alias quam aspernatur, architecto recusandae.</p>