<style>
  a {
    text-decoration: none;
    color: #333;
  }
  .contact {
    background-color: #888;
  }
</style>

<h1>Contact</h1>

<div class="contact container col-5 py-4 mt-4 shadow rounded-3">
  <p>Phone number: <a href="tel:+551234567890">(12) 3456-7890</a></p>
  <p>Email: <a href="mailto:example@mail.com">example@mail.com</a </p>
  <p>Our Social Media:</p>
  <ul class="list-unstyled">
    <li><a href="#">Twitter</a></li>
    <li><a href="#">Facebook</a></li>
    <li><a href="#">Instagram</a></li>
  </ul>
</div>