
<div class="kombi container py-5 shadow rounded position-relative">
  <h1 class="display-1">My Blog</h1>
  <a href="/signup" class="btn btn-success btn-lg position-absolute bottom-0 start-50 translate-middle mb-3">Sign Up!</a>
</div>
