<footer class="footer sticky-bottom py-3 footer-secondary bg-secondary text-center">
  <div class="container-fluid">
    Copyright&copy;
    <a class="footer-brand footer-brand text-white text-decoration-none" href="#">ahartfelder</a>
  </div>
</footer>
